*{
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-fuerte: rgb(0, 67, 112);
    --color-normal: rgb(45, 95, 143);
    --color-suave: rgb(159, 189, 230);
}

.container{
    margin-left: 60px;
}

.nav-rec{
    background-color: var(--color-normal);
    text-align: center;
    padding: 17px 0px;
}

.titulo-arriba{
    font-weight: bold;
    font-size: 1.6em;
    color: #fff;
}

h2{
    color: var(--color-normal);
    margin: 20px 0px;
}